<template name='addPizzaDay'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <span class='text-center'> Add new Pizza Day </span>
      </div>
      <form>
        <div class='modal-body'>
        </div>

        <div class='modal-footer'>
          <input type='submit' value='Add Pizza Day' class='btn btn-primary' />
          <button type='button' data-dismiss='modal' class='btn btn-default'> Close </button>
        </div>
    </form>
    </div>
  </div>
</template>
