<template name='panelBody'>
  <div class='panel-group' id='employersList' role='tablist' aria-multiselectable='true' value='{{id}}'>
    {{#each employers id}}
    <div class='panel panel-default'>
      <div class='panel-heading' role='tab' id='heading_{{firstName}}_{{lastName}}'>
        <h6 class='panel-title'>
          <a role='button' data-toggle='collapse' data-parent='#employersList' href='#collapse_{{firstName}}_{{lastName}}'
            aria-expanded='true' aria-controls='collapse_{{firstName}}_{{lastName}}'>
            <span id='userName'>{{firstName}} {{lastName}}  </span>
          </a>
        </h6>

        {{#if currUserCheck firstName lastName}}
        <button class='btn btn-success' name='success' id='successUser'> Success </button>

        <button class='btn btn-danger' name='decline' id='declineUser'> Decline </button>
        {{/if}}
      </div>
    </div>
    {{/each}}

  </div>
</template>
