<template name='pizzaDays'>
  {{#if checkEmpl}}
    <!-- {{> meetingView}} -->
    <div class='col-xs-10 col-sm-10 col-md-10 col-lg-10
      col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1'>

      <ul class='nav nav-tabs' role='tablist'>
        <li role='presentation' class='active'>
          <a href='#PizzaDays' aria-controls='PizzaDays' role='tab' data-toggle='tab'>
            Pizza days
          </a>
        </li>

        <li role='presentation'>
          <a href='#Groups' aria-controls='Groups' role='tab' data-toggle='tab'>
            Groups
          </a>
        </li>
      </ul>

      <div class='tab-content'>
        <div role='tabpanel' class='tab-pane' id='PizzaDays'>
          <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
            <div class='panel-group' id='daysList' role='tablist' aria-multiselectable='true'>
            </div>
          </div>
          <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
            <button type='button' class='btn btn-default' data-toggle='modal' data-target='#modalAddPizzaDay'>
               Add Pizza Day
             </button>
             <div class='modal fade' id='modalAddPizzaDay' tabindex="-1" role='dialog' aria-labelledby='modalAddLabel' aria-hidden='true'>
               {{> addPizzaDay}}
             </div>
          </div>
        </div>
        <div role='tabpanel' class='tab-pane active' id='Groups'>
          <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
            <div class='panel-group' id='groupList' role='tablist' aria-multiselectable='true'>
            </div>
          </div>
          <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
            <button type='button' id='createNewGroup' class='btn btn-default' data-toggle='modal' data-target='#modalAddGroup'>
               Create new group
             </button>
             <div class='modal fade' id='modalAddGroup' tabindex="-1" role='dialog' aria-labelledby='modalAddLabel' aria-hidden='true'>
               {{> addGroup}}
             </div>
          </div>
        </div>
      </div>

    </div>
  {{else}}
    <div class='col-xs-8 col-sm-8 col-md-8 col-lg-8
      col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2'>
      We not employer our company
    </div>
  {{/if}}
</template>
